<nav class="uk-navbar-container" uk-navbar *ngIf="userId">


  <div class="uk-navbar-right">

    <ul class="uk-navbar-nav">
      <li>
        <a href="#" class="uk-text-bold">Profile</a>


        <div class="uk-navbar-dropdown">
          <h2 class="uk-text" style="text-align: center;font-weight: bold;">{{userName}}</h2>
      <ul class="uk-nav uk-navbar-dropdown-nav">

        <li><button class="btn uk-text-warning" style="margin-left: 10%;" [routerLink]="['/edit',userId]"
            (click)="editProfile()">
            <p style="font-weight: bold;">Edit Profile</p>
          </button></li>
        <li><button class=" btn uk-text-danger" style="margin-left: 10%;" (click)="logout()">
            <p style="font-weight: bolder;">Log Out</p>
          </button></li>
      </ul>
  </div>
  </li>
  </ul>

  </div>
</nav>
