<!--
<div *ngIf="fAuth.user | async as user; else showLogin">
  <h1>Hello {{ user.displayName }}!</h1>
</div> -->







<div class="uk-section uk-section-muted uk-flex uk-flex-middle uk-animation-fade" uk-height-viewport>
	<div class="uk-width-1-1">
		<div class="uk-container">
			<div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid>
				<div class="uk-width-1-1@m">
					<div class="uk-margin uk-width-large uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
						<h3 class="uk-card-title uk-text-center">Sign Up!</h3>
						<form>
							<div class="uk-margin">
								<div class="uk-inline uk-width-1-1">
									<span class="uk-form-icon" uk-icon="icon: mail"></span>
									<input class="uk-input uk-form-large uk-text-meta" type="text"  name="email" placeholder="Email" [(ngModel)]="email" >
								</div>
							</div>
							<div class="uk-margin">
								<div class="uk-inline uk-width-1-1">
									<span class="uk-form-icon" uk-icon="icon: lock"></span>
									<input class="uk-input uk-form-large uk-text-meta" type="password"  name="password" placeholder="Password" [(ngModel)]="password">
								</div>
              </div>
              <div class="uk-margin">
								<div class="uk-inline uk-width-1-1">
									<span class="uk-form-icon" uk-icon="icon: heart"></span>
									<input class="uk-input uk-form-large uk-text-meta" type="text"  name="name" placeholder="Your Name" [(ngModel)]="name">
								</div>
							</div>
							<div class="uk-margin">
								<button class="uk-button uk-button-primary uk-button-large uk-width-1-1"  (click)="signup()">Sign Up</button>
							</div>
							<div class="uk-text-small uk-text-center">
								Do you have an account? <a [routerLink]="['/login']">Then Login</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


